@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Montserrat", serif;
  scroll-padding-top: 14em;
}

body {
  margin: 0 0 700px 0;
  background-color: #e3c8cd;
  color: black;
  font-size: 1rem;
}

/* ========
Typeography 
======== */

p {
  font-size: 1rem;
  padding: 1em;
  line-height: 1.5;
}

li {
  padding-right: 1em;
  line-height: 1.5;
}

a {
  color: darkorchid;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  color: #f6edee;
  text-align: center;
}

h2 {
  padding: 0.8em;
  color: #f6edee;
  font-size: 1.3rem;
  background-color: #a24857;
}

h3 {
  font-size: 1rem;
  color: black;
  padding: 0 1em;
}

/* ========
Layout 
======== */

/* For mobile phones: */
.navigational-header {
  display: flex;
  flex-direction: column;
  background: darkred;
  padding: 1em;
  font-size: 0.9rem;
  text-align: center;
}

.navigational-header > div {
  border: solid darkred;
  padding: 0.5em;
  background: white;
}

header {
  background-color: #8f1402;
  margin-bottom: 1rem;
  padding: 0.1em;
}

.about-and-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

.about-and-photo-container > div > img {
  width: 70%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  max-width: 18rem;
}

.about-column {
  margin: 1em 2em;
  text-align: center;
  border-bottom: solid #a24857;
}

#experience,
#skills,
#projects,
#connect {
  padding-bottom: 1em;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.job-container {
  background-color: #f4e8e6;
  border: solid #a24857;
  border-width: 1%;
  width: 90%;
  margin: 1em auto;
}

.job-title {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

.dates {
  text-align: right;
  width: 80%;
}

.connect-container {
  display: flex;
  flex-direction: column;
}

.connect-container div {
  flex: 1;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
  font-size: 1.2rem;
}

.connect-container > div > img {
  width: 20%;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

@media all and (min-width: 600px) {
  /* For tablets: */
  html {
    scroll-padding-top: 5em;
  }

  .navigational-header {
    flex-direction: row;
    font-size: 1.1rem;
  }

  .navigational-header > div {
    flex: 1;
    margin: 0.1em;
  }

  .about-and-photo-container {
    flex-direction: row;
    margin: 1em;
    font-weight: bolder;
  }

  .about-and-photo-container > div > img {
    width: 8em;
  }

  .experience-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .job-container {
    width: 25%;
    min-width: 15em;
  }

  .connect-container {
    flex-direction: row;
    width: 25%;
  }

  .connect-container div {
    text-align: center;
  }
  .connect-container > div > img {
    margin: 0 auto;
    width: 5em;
  }
}

@media all and (min-width: 768px) {
  /* For desktop: */
  html {
    scroll-padding-top: 7em;
  }

  .navigational-header {
    font-size: 1.3rem;
  }

  .navigational-header > div {
    margin: 0.3em;
  }

  .about-and-photo-container {
    flex-direction: row;
    margin: 2em;
  }

  .about-and-photo-container > div > img {
    max-width: 12em;
  }

  .job-container {
    width: 15%;
    min-width: 20em;
  }

  .connect-container {
    width: 30%;
  }
}
