@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* This applies for mobile phones: */

html,
button {
  font-family: "Montserrat", serif;
  scroll-padding-top: 16em;
}

body {
  margin: 0 0 700px 0;
  background-color: #e3c8cd;
  color: black;
  font-size: 1rem;
}

/* ========
Typeography 
======== */

p {
  font-size: 1rem;
  padding: 1em;
  line-height: 1.5;
}

li {
  padding-right: 1em;
  line-height: 1.5;
}

a {
  color: darkorchid;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  color: #f6edee;
  text-align: center;
}

h2 {
  padding: 0.8em;
  color: #f6edee;
  font-size: 1.3rem;
  background-color: #a24857;
}

h3 {
  font-size: 1rem;
  color: black;
  padding: 0 1em;
}

/* ========
Layout 
======== */

.navigational-header {
  display: flex;
  flex-direction: column;
  background: darkred;
  padding: 1em;
  font-size: 0.9rem;
  text-align: center;
}

.navigational-header > div {
  border: solid darkred;
  padding: 0.5em;
  background: white;
}

header {
  background-color: #8f1402;
  margin-bottom: 1rem;
  padding: 0.1em;
}

.about-and-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

.about-and-photo-container > div > img {
  width: 70%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  max-width: 18rem;
}

.about-column {
  margin: 1em 2em;
  text-align: center;
  border-bottom: solid #a24857;
}

#projects > ul {
  background-color: #f4e8e6;
  border: solid #a24857;
  padding: 1em 1em 1em 3em;
  margin: 1em auto;
  width: 75%;
  text-align: center;
  list-style-type: upper-alpha;
  display: flex;
  flex-direction: column;
}

#skills > ul {
  display: flex;
  flex-direction: column;
}

#skills > ul > li {
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0em;
  background-color: #f4e8e6;
  border: solid #a24857;
  font-weight: bold;
  width: 50%;
  text-align: center;
  border-radius: 8px;
}

#connect {
  padding-bottom: 1em;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.job-container {
  background-color: #f4e8e6;
  border: solid #a24857;
  border-width: 1%;
  width: 90%;
  margin: 1em auto;
}

.job-title {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

.dates {
  text-align: right;
  width: 80%;
}

.connect-container {
  display: flex;
  flex-direction: column;
}

.connect-container div {
  flex: 1;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
  font-size: 1.2rem;
}

.connect-container > div > img {
  width: 20%;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

form {
  margin: 0em 2em;
}

form > input,
textarea {
  width: 90%;
}

form > button {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: darkred;
  border: solid darkred;
}

#messages > ul {
  word-break: break-all;
  text-wrap: wrap;
  margin: 0em 1em 0em 0em;
}

#messages > ul > li {
  list-style-type: none;
  background-color: #f4e8e6;
  border: solid #9b5c66;
  border-width: 1%;
  width: 90%;
  margin: 1em auto;
  padding: 1em;
}

#messages > ul > li > button {
  background-color: #a24857;
  color: white;
  border: solid #a24857;
}

@media all and (min-width: 600px) {
  /* This applies for tablets: */
  html {
    scroll-padding-top: 6em;
  }

  .navigational-header {
    flex-direction: row;
  }

  .navigational-header > div {
    flex: 1;
    margin: 0.1em;
  }

  .about-and-photo-container {
    flex-direction: row;
    margin: 1em;
    font-weight: bolder;
  }

  .about-and-photo-container > div > img {
    width: 8em;
    border: solid;
  }

  .experience-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3em;
  }

  .job-container {
    width: 25%;
    min-width: 15em;
  }

  #projects > ul {
    margin: 3em;
    width: 50%;
  }

  #skills > ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #skills > ul > li {
    padding: 0.5em;
    margin: 1em;
    width: 15%;
    border-radius: 8px;
  }

  .connect-container {
    flex-direction: row;
    width: 25%;
    margin: 3em;
  }

  .connect-container div {
    text-align: center;
    border: solid #a24857;
  }
  .connect-container > div > img {
    margin: 0 auto;
    width: 5em;
  }
}

@media all and (min-width: 768px) {
  /* This applies for desktop: */
  html {
    scroll-padding-top: 5em;
  }

  .navigational-header {
    font-size: 1rem;
    padding: 0.5em 2em;
    flex-wrap: wrap;
  }

  .navigational-header > div {
    margin: 0.3em;
    padding: 0.7em;
  }

  .about-and-photo-container {
    flex-direction: row;
    margin: 2em;
    justify-content: space-evenly;
  }

  .about-and-photo-container > div > img {
    max-width: 12em;
    border-radius: 0px;
  }

  .job-container {
    width: 15%;
    min-width: 20em;
  }

  .connect-container {
    width: 40%;
    font-style: oblique;
  }

  form > input,
  textarea {
    width: 50%;
  }

  #messages > ul > li {
    width: 50%;
    margin: 1em 1em 1em 0em;
  }
}
